%%
[{kernel,
  [{logger_level, all},
   {logger,
    [{handler, default, logger_std_h,
      #{ level => notice }},
     {handler, to_file_handler, logger_std_h,
      #{config => #{file => "log/rvs.log"},
        level => debug}
	}
    ]}]}].
%% 
%% Formatter:
%%             Module: logger_formatter
%%             Config:
%%                 legacy_header: true
%%                 single_line: false