[
    {"addi", [2,[3,4],[1,2]]},
    {"add", [2,[3,4],[1,2]]},
    {"sub", [2,[3,4],[1,2]]},
    {"mul", [2,[3,4],[1,2]]},
    {"rem", [2,[3,4],[1,2]]},
    {"slli", [2,[3,4],[1,2]]},
    {"srai", [2,[3,4],[1,2]]},
    {"load", [2,[3], [1]]},
    {"lui", [2,[3], [1]]},
    {"li",  [2,[3], [1]]},
    {"sw",[3,[2],[1]]},
    {"lw",[2,[3],[1]]},
    {"mw",[2,[3],[1]]},
    {"mv",[2,[3],[1]]},    
    {"bne",[4,[2,3],[1,2]]}, %% branch not equal    
    {"beqz",[3,[2],[1]]},    
    {"bnez",[3,[2],[1]]},    
    {"bltz",[3,[2],[1]]},    
    {"bgtz",[3,[2],[1]]},    
    {"bgt",[4,[2,3],[1,2]]},    
    {"ble",[4,[2,3],[1,2]]},  %% branch lower equal
    {"bgtu",[4,[2,3],[1,2]]},    
    {"bleu",[4,[2,3],[1,2]]},    
    {"bgt",[4,[2,3],[1,2]]},    
    {"NOTEXIST",[]}                     %% dummy
].
