[
    {"addi", [3,[2,4],[1,2,"add"]]},
    {"add", [4,[2,3],[1,2,"add"]]},
    {"sub", [3,[2,4],[1,2,"sub"]]},
    {"mul", [3,[2,4],[1,2,"mul"]]},
    {"slli", [3,[2,4],[1,2,"bsl"]]},
    {"srai", [3,[2,4],[1,2,"bsr"]]},
    {"load", [2,[3], [1]]},
    {"lui", [2,[3], [1,"lui"]]},
    {"sw",[3,[2],[1,"sw"]]},
    {"lw",[2,[3],[1]]},
    {"mw",[2,[3],[1]]},
    {"mv",[2,[3],[1]]}    
].
