[
    {"addi", [2,[3,4],[1,2,"addi"]]},
    {"add", [2,[3,4],[1,2,"add"]]},
    {"sub", [2,[3,4],[1,2,"sub"]]},
    {"mul", [2,[3,4],[1,2,"mul"]]},
    {"rem", [2,[3,4],[1,2,"rem"]]},
    {"slli", [2,[3,4],[1,2,"bsl"]]},
    {"srai", [2,[3,4],[1,2,"bsr"]]},
    {"load", [2,[3], [1]]},
    {"lui", [2,[3], [1,"lui"]]},
    {"li",  [2,[3], [1,"li" ]]},
    {"sw",[3,[2],[1,"sw"]]},
    {"lw",[2,[3],[1]]},
    {"mw",[2,[3],[1]]},
    {"mv",[2,[3],[1]]},    
    {"bne",[4,[2,3],[1,2,"bne"]]},    
    {"ble",[4,[2,3],[1,2,"ble"]]}
].
